img {
	width: 30%;
	float: left;
	margin: 1.66%;

}

p {
	font-family: 'Roboto Mono', monospace;
	margin: 1.66%;
	font-size: 60px;
	font-weight: 800;
	border-bottom: 2px solid #f1f1f1;
	width: 56%;
	padding-bottom: 15px;





}
